
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


*{
    font-family: 'Nunito' , sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}
html{
    font-size : 72%;
    overflow-x:hidden ;
    scroll-padding-top:6rem;
    scroll-behavior: smooth;
} 
section{
    padding: 1.5rem 5% ;
    margin-top: 2rem;
}
.heading{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
    color:rgb(255, 184, 7);
}
.heading span{
    background: rgba(251, 131, 3, 0.2);
    padding: .1rem 1.2rem;
    border-radius: .4rem;
}
.heading h2 .space{
    background: none;
}

.btn{
    font-size: 2.4rem;
    background: orange;
    color: aliceblue;
    padding: .7rem 3rem ;
    text-align: center;
    width: 35%;
    cursor: pointer;
}    
.btn:hover{
    background: rgba(255, 150, 3, 0.4);
}
header{
    position: fixed;
    top: 0; left: 0;right:0;
    background: #1512127a;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    
}
 header .A{
    font-size: 2.9rem;
    font-weight: bolder;
    color: aliceblue;
    text-transform: uppercase;
 }
 header .A span{ 
    color: orange;
    font-size: 4rem;
 }
 header .navbar a{
    color: aliceblue;
    font-size: 2rem;
    margin: 10px;
 }
 header .navbar a:hover{
    color: orange;
 }
 header .icons i{
    font-size: 2.5rem;
    color: aliceblue;
    cursor: pointer;
    margin-right: 2rem;
 }
 header .icons i:hover{
    color: orange;
 }
 header .search-bar-container{
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: #1512127a;
    display: flex;
    z-index: 1001;
    align-items: center;
    clip-path: polygon(0 0,100% 0,100% 0, 0 0);
 }
 header .search-bar-container.active{
    clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);

 }
 header .search-bar-container #search-bar{
    width: 100%;
    color: #333;
    text-transform: none;
    font-size: 2.2rem;
    border-radius: .5rem;
 }
 header .search-bar-container label{
    color: aliceblue;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 1rem;
 }
 header .search-bar-container label:hover{
    color: orange;
 }
.login-form-container{
    position: fixed;
    top: -100%; left: 0;
    width: 100%;
   min-height: 100vh;
    display: flex;
    z-index: 10000;
    background: rgba(0,0,0,.5);
    align-items: center;
    justify-content: center;
}
.login-form-container.active{
    top: 0;
}
.login-form-container form{
    margin: 3rem;
    padding:2rem 2rem 2rem 2rem;
    border-radius: .5rem;
    background: white;
    width: 50rem;
}
.login-form-container form h3{
    text-align: center;
    font-size: 4rem;
    padding: 1.4rem;
    color: #444;
    text-transform: uppercase;
}
.login-form-container form h3 span{
    color: orange;
}
.login-form-container form .email{
    text-align: center;
    font-size: 1.5rem;
    border: .1px solid #333;
    width:100%;
    padding: .7rem;
    margin: .5rem;
}
.login-form-container form #remember{
    margin: 1rem 0;
}
.login-form-container form label{
    font-size: 1.2rem;
}
.login-form-container form .btn{
    font-size: 2.4rem;
    background: orange;
    color: aliceblue;
    padding: .6rem 3rem ;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
}
.login-form-container form p{
    margin-top: .8rem;
    font-size: 1.1rem;
    color: #666;
}
.login-form-container form p a:hover{
    color: orange;
}
.login-form-container #form-close{
    position: absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    cursor: pointer;
    color:#fff;
}
#menu-bar{
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    cursor: pointer;
    padding: .5rem 1.1rem;
    display:none;
}   
.home{
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow:column;
    z-index: 0;
}
.home .content{
    text-align: center;
}
.home .content h3{
   text-align: center;
   font-size: 4.5rem;
   color: aliceblue;
   text-transform: uppercase;
}
.home .content a.btn{
    border-radius: .5rem;
}

.home .content p{
    text-align: center;
    font-size: 2.4rem;
    color: aliceblue;
    padding: 2rem ;
 }
.home .video-container video{
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book .row{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;

} 
.book .row .image {
    align-items: stretch;
    display: flex;
}
.book .row .image img {
    width: 100%;
    height: 100%;
}
.book .row .booking{
    display: flex;
    flex-direction: column;
    width: 58rem;
    box-shadow: 0 1.5rem 2rem rgba(0,0,0,.3);
    border-radius: .5rem;
}
.book .row .booking .inp{
    padding: 2rem 2rem ;
}
.book .row .booking .inp h4{
    font-size: 2.8rem;
}
.book .row form .inp input{
    width: 100%;
    padding: 1.2rem;
    border: .1rem solid rgba(0,0,0,.5);
    border-radius: .5rem;
    font-size: 1.5rem;
}
.book .row form .inp input.btn{
    font-size: 2.6rem;
}
.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.packages .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.3);
    overflow: hidden;
}
.packages .box-container .box img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
.packages .box-container .box .content{
    padding: 1rem;
}
.packages .box-container .box .content h3{
    font-size: 2.5rem;
    margin-left: .2rem;
}
.packages .box-container .box .content h3 span{
    font-size: 1.5rem;
    color: #555;
}
.packages .box-container .box .content h3 i{
    color: orange;
    font-size: 3rem;
}
.packages .box-container .box .content p{
    font-size: 1.3rem;
    margin-left: .4rem;
    color: #333;
} 
.packages .box-container .box .content .stars i{
    font-size:1.25rem;;
    color:orange;
}
.packages .box-container .box .content .price{
    font-size: 2rem;
    margin: 1rem 1rem;
    margin-top: -.15rem;
    padding: .5rem;
}
.packages .box-container .box .content .price span{
    font-size: 1.4rem;
    color:#777;
    text-decoration: line-through;
}
.packages .box-container .box .content .btn:hover{
    background-color: rgba(255, 166, 0, 0.501);
}
.services .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.services .box-container .box{
    flex: 1 1 25rem;
    border-radius: .7rem;
    box-shadow: 0 1rem 1.5rem #ff9a0263;
    padding: 1.5rem;
    text-align: center;
}
.services .box-container .box:hover{
    background: rgba(213, 143, 12, 0.142);
}
.services .box-container .box i{
    color: orange;
    font-size:5rem;
    font-style: inherit;
    padding: 1rem;
}
.services .box-container .box h4{
    font-size: 2.7rem;
    color: #444;
}
.services .box-container .box p{
    font-size: 1.5rem;
    color: #777;
}
.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.gallery .box-container .box{
    flex: 1 1 22rem;
    border-radius: .7rem;
    box-shadow: 0 1rem 1.5rem #ff9a0263;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.gallery .box-container .box img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
.gallery .box-container .box h3{
    font-size: 1.5rem;
    color: #444;
}
.gallery .box-container .box p{
    font-size: 1.2rem;
    color: #777;
}
.gallery .box-container .box a.btn{
    width: 20%;
    padding: .4rem .9rem;
    font-size: 2rem;
}
.gallery .box-container .box a.btn:hover{
    background-color: #ff9a0263;
}
.swiper {
    width: 100%;
    height: 120%;
  }
.review .swiper{
    display: flex;
    gap: 2rem;
    padding: 1rem;
}
.review .swiper .swiper-wrapper{
   padding-bottom: 2rem;
}
.review .swiper .swiper-wrapper .swiper-slide{
    padding: 1.5rem;
    border-radius: .8rem;
    box-shadow: 0 .5rem 2rem #999;
    text-align: center;
    width: 24rem;
}
.review .swiper .swiper-wrapper .swiper-slide img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    padding-bottom: .2rem;
    box-shadow:0 1rem 5rem orange; 
}
.review .swiper .swiper-wrapper .swiper-slide h3{
    font-size: 2rem;
    color: orange;
    margin-top: 1.5rem;
}
.review .swiper .swiper-wrapper .swiper-slide .stars i{
    font-size: 1.7rem;
    color: orange;
}
.review .swiper .swiper-wrapper .swiper-slide p{
    font-size: 1.2rem;
    color: #666;
}
.contact .row{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
}
.contact .row .image{
    flex: 1 1 35rem;
    display: flex;
}
.contact .row .image img{
    width: 100%;
    height: 100%;
}
.contact .row .form{
    flex: 1 1 50rem;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem #675a5a65;
    border-radius: .5rem; 
    flex-direction: column;
}
.contact .row .form .input{
    display: flex;
    justify-content: space-between;
    color: #333;

}
.contact .row form .input input, .contact .row form textarea{
    width: 47%;
    margin: 1rem 0;
    padding: 1.5rem;
    font-size: 2rem;
    color:#333;
    background: #f4f4f464;
    text-transform: none;
}
.contact .row .form textarea{
    resize: none;
    width: 100%;
}
.contact .row .form .btn{
    margin-top: 2rem;
    text-align: center;
}
.brand-container .swiper .swiper-wrapper
{
    text-align:center;
}
.brand-container .swiper .swiper-wrapper .swiper-slide img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    padding: 3.6rem;
    margin-left: 2rem;
}
.footer .box h2{
    font-size: 1.7rem;
}
.footer .box p{
    font-size: 1.2rem;
    color: #555;
}
.footer .box a{
    font-size: 1.6rem;
    margin-left: 1rem;
    color: orange;
}
.footer .box a:hover{
    color: #333;
}












@media (max-width:1800px){
    html{
     font-size: 67%;
    }
    header{
        padding: 2.5rem;
    }
 }

@media (max-width:1400px){
   html{
    font-size: 60%;
   }
}
@media (max-width:1200px){
    html{
     font-size: 55%;
    }
    .book .row .image img{
        width: 100%;
        height: 66%;
        object-fit: cover;
        left: 0;
        position: absolute;
       
    } 
    .book .row .booking{
        object-fit: cover;
        z-index:1;
        display: flex;
        justify-content: center;
        text-align: center;
        background: #f1eeeea1;
        padding: 20px;
        height: 726px;
    }
    .contact .row .image {
        width: 100%;
        height: 62%;
        object-fit: cover;
        left: 0;
        position: absolute;
    }
    .contact .row .form {

        z-index:1;
        display: flex;
        justify-content: center;
        text-align: center;
        background: #ffffff5c;
        padding: 40px;
        height: 880px;
    }
    .contact .row .form .input ,.contact .row form textarea{
        margin: 2rem;
    }
 }
 @media (max-width:970px){
    .heading{
        font-size: 1.5rem;
    }
    #menu-bar{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%; right: 0;left: 0;
        margin-right: 60%;
        background:  #333;
        padding: 1rem 2rem;
        border-top:0.1rem solid rgba(255,255,255,.2);
        clip-path:polygon(0 0,100% 0,100% 0,0 0);
    }
    header .navbar.active{
        clip-path:polygon(0 0,100% 0,100% 100% ,0 100%);
    }
    header .navbar a{
        display: block;
        padding: 1rem;
        border-radius: .5rem;
        background:#111;
    }
    .brand-container .swiper .swiper-wrapper .swiper-slide img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        align-items: center;
        padding: 3.6rem;
        margin-left: 2rem;
    
    }
 }
 